html, body, .wrapper {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

div {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	color: #5A5B54;
	font-family: Helvetica;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: #5A5B54;
}

h1 {font-size: 2em; margin: 0;} /* was 4em */
h2 {font-size: 1em; letter-spacing: 0.2em; margin: 0;} /* was 2 em */
h4 {font-size: .8em; letter-spacing: 0.3em;}

.hidden {
	display: none!important;
}

a.videoLink {
	color: #eb2323;
}

.wrapper {
	background: url('img/background-image.jpg') no-repeat;
	background-size: cover;
	position: relative;
}

.titleHome {
	position: absolute;
	top: 40%;
	height: 180px;
	width: 100%;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
}

.bigLogo {
	position: absolute; 
	width: 70%; 
	margin: 140px 15%;
}

.bigLogo img {width: 100%;}


/* ============================================================================================================= */

.open {
	left: 0!important;
}

.header {
	height: 30px;
	padding: 5px;
	background-color: #000;
}

.menu-icon {
	display: block;
	color: #fff;
	cursor: pointer;
	margin: -5px 0 0 -5px;
	font-weight: bold;
	line-height: 20px;
	float: left;
	padding: 10px;
	background-color: #eb2323;
}

.menu-icon:hover {
	/*background-color: #fff;*/
}

.logo {
	/*width: 370px;*/
	margin-left: 80px;
	text-align: center;
	line-height: 30px;
	color: #fff;
}

.logo img {
	width: 100%;
	height: auto;
}

.close-icon {
	color: #fff;
	cursor: pointer;
	border-radius: 10px;
	padding: 25px 0;
	width: 100%;
	text-align: center;	
}

.close-icon:hover {
	color: #a7a649;
}

.nav2 {
	/*text-align: center;*/
	position: fixed;
	left: -100%; /* for desktop = 19% */
	top: 0;
	padding: 0;
	width: 100%;
	min-height: 100%;
	/*background-color: rgba(255, 255, 255, 0.7);*/
	background-color: #5F5F5F;
	transition: left 500ms ease;
	/*opacity: .7;*/
}

.sideMenu {
	overflow-y: scroll;
	height: 380px;
	margin-top: 20px;
}

ul.links2 {
	opacity: 1;
	border-top: 1px solid #747474;
}

ul.links2 li {	
	text-align: center;
	cursor: pointer;
	border-bottom: 1px solid #747474;
}

ul.links2 li a {
	color: #fff;
	text-transform: uppercase;
	display: block;
	padding: 14px 0;
	font-size: 0.9em;
}

ul.links2 li:hover {
	/*background-color: #a7a649;*/
	background-color: #fff;
}

ul.links2 li:hover a {
	color: #5f5f5f;
}

ul.links2 li.current {
	background-color: #eb2323;
}

/* ============================================================================================================3 */

.block {
	margin-bottom: 30px;
}

.blockImage img {
	width: 100%;
}

.blockText {
	
}

.innerBlock {
	padding: 10px;
}


p.email {
	padding-left: 30px;
	background: url('img/email-icon.png') no-repeat;
	background-size: auto 17px;
	line-height: 17px;
}

p.phone {
	padding-left: 30px;
	background: url('img/phone-icon.png') no-repeat;
	background-size: auto 20px;
	background-position-x: 8px;
}

@media (min-width: 500px) {
	.logo img {
		width: auto;
		height: 20px;
	}
}

@media (min-width: 700px) {

	.blockImage {
		display: inline-block;
		width: 45%;
		overflow: hidden;
	}

	.blockImage img {
		width: auto;
		height: 500px;
		margin-left: -40%;
	}

	.blockText {
		display: inline-block;
		width: 54%;
		vertical-align: top;
	}

	.innerBlock {
		padding: 0 7%;
	}

	h1 {font-size: 4em; margin: 0;} /* was 4em */
	h2 {font-size: 2em; letter-spacing: 0.2em; margin: 0;} /* was 2 em */

	.bigLogo { 
		width: 50%; 
		margin: 230px 25%;
	}

}

@media (min-width: 980px) {

	.nav2 {
		left: 0;
		width: 250px;
	}

	.sideMenu {
		height: auto;
		overflow-y: hidden;
		margin-top: 40px;
	}

	.content {
		margin-left: 250px;
	}

	.menu-icon, .close-icon {
		display: none;
	}

	.innerBlock {
		padding-top: 20px;
	}

	.block {
		margin-bottom: 0;
	}

	.bigLogo { 
		width: 30%; 
		margin: 280px 35%;
		padding-left: 125px;
	}

	.blockImage img {
		margin-left: -20%;
	}

}

@media (min-width: 1200px) {

	.blockImage img {
		margin-left: 0;
	}

	/*
	.blockText {
		width: 34%;
	}*/

	.bigLogo { 
		width: 24%; 
		margin: 280px 38%;
		padding-left: 125px;
	}

}

@media (min-width: 1700px) {
	.blockImage img {
		height: auto;
	}

	.blockImage {
		height: 600px;
	}
}