/* Reset */
html, body, .wrapper {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

ul {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

/* Common styles */
h1 {font-size: 3em; margin: 0;}
h2 {margin: 20px 0 0;}
h4 {letter-spacing: 0.2em;}

/* Unique styles */

.wrapper {
	background: url('background-image.jpg') no-repeat;
	font-family: Helvetica;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.titleHome {
	position: absolute;
	top: 300px;
	background-color: #FFE24A;
	height: 180px;
	width: 100%;
	text-align: center;
	opacity: 0.55;
}

ul.links {
	padding-top: 480px;
}

ul.links li {	
	display: block;
	height: 36px;
	float: left;
	text-align: center;
	padding: 14px 0 0;
	width: 14.2857%;
	cursor: pointer;
}

ul.links li:hover {
	background-color: #b0b0b0;
	opacity: 0.7;
}

ul.links li a {
	color: #fff;
	font-weight: bold;
}